.git
.cache
node_modules
.superpowers/
.worktrees/
plugins/.superpowers.prepare.*/
plugins/.superpowers.bak.*/
*.tgz
dist/
docs/superpowers
plugins/superpowers/**
!plugins/superpowers/.codex-plugin/plugin.template.json
